*{
    margin: 0px;
    padding: 0px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-height: 850px;
    background: rgba(229, 84, 115, 0.10);  
    
}
.banner-container{
   width: 100vh;
   align-items: center;
   
}
.banner-charming{
    font-size: 65px;
    padding: 54px;
    color: #272727;
    font-weight:bold;

}
.pera{
    padding: 56px;
    margin-top:-85px;
}
.btn{
    display: flex;
    justify-content: flex-start;
    margin-top:-35px;
    text-align: center;
    padding:10px;
    margin-left:45px;
    background-color: rgb(247, 79, 135);
    border-radius: 8px;
    color: white;
}

.image-1{
    width: 370px;
}
.feature-title{
    margin-top: 90px;
    display: block;
    align-items: center;
    text-align: center;
    
}
.pera2{
    display: block;
    align-items: center;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
}
.feature-section{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img{
   background-position: center;
    size: 60%;
    height: 60%;
    width: 60%;
    width: 250px;
    height: 300px;

}
.box-1{
    size: 90px;
    display: flex ;
    background-size: 60%;
    width: 30%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin: 0 auto;
}

.box-2{
    display: flex;
    background-size:60%;
    width:30%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin: 0 auto;
}
.box-3{
    display: flex;
    background-size: 60%;
    width:30%;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    margin: 0 auto;
}
.service-section{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.service{
    min-height: 170px;
    width:85%;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content: space-around;
    align-items: center;

}
.service-icon{
    size: 60px;
    align-items: center;
}
.pera4{
   color: rgb(151, 140, 140);
   text-align: center;
}
.text{
    margin-top: 65px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-fl{
  size: 30%;
  text-align: center;
}
.hd{
    text-align: center;
}
span{
    color:  #E55473;
}
.btn2{
    margin-left: 186px;
    border-radius: 2px;
    background: #E55473;
    text-align: center;
    justify-content: center;
}
.text-sec{
    margin-top: 30px;
    color: #272727;
    text-align: center;
    font-size:29px;


}
.insta-section{

}
.img-sec{
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content:space-between;
  
}
.imgs>img{
    
    margin:5px;
    width: auto;
    max-width: 240px;
    height:auto;

    
}